body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom left, #0d1a2d, #0d1a2d);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container {
  width: 30%;
  height: 60%;
  background-color: #15273f;
  border-radius: 7px;
  box-shadow: 3px 3px 10px #0c1729;
  padding: 15px;
  box-sizing: border-box;
}
.img {
  width: 99%;
  height: 60%;
  overflow: hidden;
  /* margin: 15px; */
  border-radius: 7px;
}
.img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
p {
  color: #8ea5c2;
}

hr {
  width: 100%;
  border-color: transparent;
  background-color: gray;
}
